.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.basket-header {
  margin: 2rem 2rem 1rem;
}
.link-buttons {
  display: flex;
  justify-content: space-between;
}

hr {
  width: 100%;
  border: solid grey 1px;
  margin: 0;
  color: grey;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.tab {
  padding: 2rem;
  margin-top: 1rem;
  align-self: center;
  height: 15em;
  width: 80rem;
  border-collapse: collapse;
}
th {
  background-color: black;
  color: white;
}
td {
  border: none;
}
.table1 {
  padding: 2rem;
  margin-top: 1rem;
  align-self: center;
  height: 15em;
  width: 80rem;
  border-collapse: collapse;
}
.continue-button {
  margin-bottom: 5rem;
  margin-top: 10rem;
  margin-left: 5rem;
  height: 3rem;
}
.checkout {
  margin-right: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 25rem;
}

.total {
  display: flex;
  justify-content: space-around;
}

.checkout-button {
  float: right;
  margin-right: 3rem;
  height: 3rem;
  width: 6rem;
  margin-bottom: 1rem;
  background-color: rgb(241, 161, 12);
}
@media only screen and (max-width: 600px) {
  .tab {
    overflow-x: scroll;
    height: auto;
  }
  .link-buttons {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    width: auto;
  }
  .cart-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .order-container {
    margin: auto;
  }
  .top-table {
    width: auto;
  }
  .tab-data {
    width: 50%;
  }
  .main-content {
    overflow-x: scroll;
  }
  .product-container {
    padding: 0rem;
    width: auto;
  }
  .nav-bar {
    width: 100%;
  }
  .continue-button {
    width: 10rem;
  }
  .checkout {
    width: 20rem;
    margin-left: 1rem;
  }
}
