.all-products {
  display: "flex";
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
}

.table2 {
  padding: 2rem;
  margin-top: 1rem;
  align-self: center;
  height: 15em;
  width: 80rem;
  border-collapse: collapse;
}
