.all-orders {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  flex-wrap: wrap;
}
.top-table {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  height: 20%;
  width: 20rem;
  border-collapse: collapse;
}

.tab-header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  height: 5em;
  width: 80rem;
}
.tab-data {
  display: flex;
  justify-content: space-between;
  height: 5em;
  width: 80rem;
}
.table2-top-header > th {
  background-color: blue;
}
